html
    body
        div
        #productos
            if productos
                table
                    tr
                        th Name
                        th Price
                        th Image
                    each producto in productos
                        tr
                            td= producto.title
                            td= producto.price
                            td
                                img(src=producto.thumbnail style="width: 50px;")
            else
                span No Products to Show
        a(href='/') Add Product

